@media screen and (max-width:640px){
 header>h1 {
  padding-top: 25px;
  padding-left: 80px;
  font-size: 22px;
  background-size: 60px;
  background-position: 10px 10px;
 }
  .button {
  width: 110px;
  height: 25px;
  border-radius: 8px;
  margin-top: 10px;
  margin-right: 2px;
  font-size: 12px;
}
header>section>span>input {
  width: 150px;
  height: 28px;
  border-radius: 8px;
  background-size: 15%;
  margin-top: 8px;
  font-size: 12px;
}
.all-button{
  padding-left: 12px;
}
.container-shining {
  padding-top: 32vh;
}

}

@keyframes modal-show {
	0% { opacity: 0; }
	100% { opacity: 1; }
}

.imgResistance{
  width: 30px;
}

/*clases y colores de border Card*/
.grass{
    border:  solid 10px #54ff48;
    border-radius: 10px;
  }

  .bug{
    border: solid 10px #c6ff4c;
    border-radius: 10px;
  }
  .water{
    border: solid 10px #67b8ff;
    border-radius: 10px;
  }

  .ice{
    border: solid 10px #87f0dd;
    border-radius: 10px;
  }
  .flying{
    border: solid 10px #abc7ff;
    border-radius: 10px;
  }
  .dragon{
    border: solid 10px #188bff;
    border-radius: 10px;
  }
  .steel{
    border: solid 10px #89e2f8;
    border-radius: 10px;
  }
  .ghost{
    border: solid 10px #8590ff;
    border-radius: 10px;
  }
  .poison{
    border: solid 10px #df7efd;
    border-radius: 10px;
  }
  .fairy{
    border: solid 10px #fc9ff4;
    border-radius: 10px;
  }

  .normal{
    border: solid 10px #c9cac8;
    border-radius: 10px;
  }
  .fighting{
    border: solid 10px #fd5579;
    border-radius: 10px;
  }
  .psychic{
    border: solid 10px #fb8383;
    border-radius: 10px;
  }
  .rock{
    border: solid 10px #ffde7d;
    border-radius: 10px;
  }
  .dark{
    border: solid 10px #ab69f7;
    border-radius: 10px;
  }
  .ground{
    border: solid 10px #ff9060;
    border-radius: 10px;
  }
  .fire{

    border: solid 10px #fd0000;

    border-radius: 10px;
  }
  .electric{
    border: solid 10px #ffd903;
    border-radius: 10px;
  }


  /*clases y colores de boton More */
  .xgrass{
    background: #54ff48;
  }
  
    

  .xbug{
    border: solid 10px #c6ff4c;
    border-radius: 10px;
  }
  .xwater{
    border: solid 10px #67b8ff;
    border-radius: 10px;
  }

  
  .xice{
    border: solid 10px #87f0dd;
    border-radius: 10px;
  }
  .xflying{
    border: solid 10px #abc7ff;
    border-radius: 10px;
  }
  .xdragon{
    border: solid 10px #188bff;
    border-radius: 10px;
  }
  .xsteel{
    border: solid 10px #89e2f8;
    border-radius: 10px;
  }
  .ghost{
    border: solid 10px #8590ff;
    border-radius: 10px;
  }
  .poison{
    border: solid 10px #df7efd;
    border-radius: 10px;
  }
  .fairy{
    border: solid 10px #fc9ff4;
    border-radius: 10px;
  }

  .normal{
    border: solid 10px #c9cac8;
    border-radius: 10px;
  }
  .fighting{
    border: solid 10px #fd5579;
    border-radius: 10px;
  }
  .psychic{
    border: solid 10px #fb8383;
    border-radius: 10px;
  }
  .rock{
    border: solid 10px #ffde7d;
    border-radius: 10px;
  }
  .dark{
    border: solid 10px #ab69f7;
    border-radius: 10px;
  }
  .ground{
    border: solid 10px #ff9060;
    border-radius: 10px;
  }
  .fire{
    border: solid 10px #fd0000;
    border-radius: 10px;
  }
  .electric{
    border: solid 10px #ffd903;
    border-radius: 10px;
  }
  

 