* {
  margin: 0%;
}


/*logo*/
header {
  background-image:
    url("./img/menu/night3.png");
  background-size: 100%;
  background-repeat: no-repeat;
  width: 100%;
  height: 210px;
  color: white;
  text-shadow: 0 0 20px #f3f3f3;
}

header>h1 {
  padding-top: 30px;
  padding-left: 130px;
  padding-bottom: 30px;
  background-image: url("/src/img/menu/ball.png");
  background-size: 90px;
  background-repeat: no-repeat;
}

/*botones*/
.button {
  width: 120px;
  height: 30px;
  border-radius: 8px;
  outline: none;
  margin-top: 20px;
  margin-right: 30px;
}

header>section>span>input {
  background-image: url("/src/img/search/search-icon.png");
  background-size: 20%;
  background-repeat: no-repeat;
  background-position: center right;
  border-radius: 8px;
  width: 170px;
  height: 30px;
  outline: none;
  margin-left: 160px;
  margin-top: 25px;
}

/*botones*/
.all-button{
    width: 100%;
}

.button{
    width: 120px;
    height: 30px;
    border-radius: 8px;
    outline: none;
    margin-top: 20px;
    margin-right: 30px;
}

/* Contenedor Card */
.container-shining {
  background-image:
    url("./img/menu/night3.png");
}

#container-border{
  /*clase de html*, contenedor general*/
  width: 80%;
  background:rgb(0, 0, 0);
  margin-left: auto;
  margin-right: auto;
}

.the-Cards{
   /*clase de html, contenedor padre para usar Flexbox*/
  display: flex;
  flex-wrap: wrap;
  justify-content:space-around;
  align-items: center;
}

.container-Card{
  /*clase de mainjs*/
  background-image:url('img/card4.png');
  background-repeat:no-repeat;
  background-position:center center;
  background-size:120%;
  width:190px;
  height:320px;
  margin:18px;
}

#img-card{
  padding: 62px 40px 0px;
}

.legend{
  justify-content: center;
  text-align: center;
  text-transform: capitalize;
}
.modal-card {
  font-size: 18px;
  text-decoration: none;
  height: 16px;
  color: black;
}

/*modal*/
.modal {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  justify-content: center;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.7);
  opacity: 0;
  animation: modal-show 0.5s 1 forwards;
}

.modal-content {
  position: relative;
  width: 400px;
  height: 400px;
  padding: 24px;
  background-color: rgb(0, 0, 0);
  color: white;
}

.modal:target {
  display: flex;
}

.modal-hide {
  position: absolute;
  top: 12px;
  right: 12px;
  width: 60px;
  height: 60px;
  padding: 0;
  -webkit-appearance: none;
  background-color: transparent;
  border: none;
  font-size: 48px;
  text-align: center;
  color: rgb(250, 250, 250);
  text-decoration: none;
}

@keyframes modal-show {
	0% { opacity: 0; }
	100% { opacity: 1; }
}

.imgResistance{
  width: 30px;
}

/*clases y colores de Card*/
.grass{
  border:  solid 10px #54ff48;
  border-radius: 10px;

}
.bug{
  border: solid 10px #c6ff4c;
  border-radius: 10px;
}
.water{
  border: solid 10px #67b8ff;
  border-radius: 10px;
}

.ice{
  border: solid 10px #87f0dd;
  border-radius: 10px;
}
.flying{
  border: solid 10px #abc7ff;
  border-radius: 10px;
}
.dragon{
  border: solid 10px #188bff;
  border-radius: 10px;
}
.steel{
  border: solid 10px #89e2f8;
  border-radius: 10px;
}
.ghost{
  border: solid 10px #8590ff;
  border-radius: 10px;
}
.poison{
  border: solid 10px #df7efd;
  border-radius: 10px;
}
.fairy{
  border: solid 10px #fc9ff4;
  border-radius: 10px;
}

.normal{
  border: solid 10px #c9cac8;
  border-radius: 10px;
}
.fighting{
  border: solid 10px #fd5579;
  border-radius: 10px;
}
.psychic{
  border: solid 10px #fb8383;
  border-radius: 10px;
}
.rock{
  border: solid 10px #ffde7d;
  border-radius: 10px;
}
.dark{
  border: solid 10px #ab69f7;
  border-radius: 10px;
}
.ground{
  border: solid 10px #ff9060;
  border-radius: 10px;
}
.fire{
  border: solid 10px #fd0000;
  border-radius: 10px;
}
.electric{
  border: solid 10px #ffd903;
  border-radius: 10px;
}

/*pie de página*/
footer{
    background: black;
    height: 60px;
}

a{
    color: white;
    text-decoration: none;
}

